<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="nfseSOAP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.pbh.gov.br" binding="basicHttpBinding"
                bindingConfiguration="nfseSOAP" contract="WebISSReference.nfse"
                name="nfseSOAP" />
        </client>
    </system.serviceModel>
</configuration>