<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpsBinding>
                <binding name="BasicHttpsBinding_INfseServices">
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" />
                    </security>                  
                </binding>
            </basicHttpsBinding>
        </bindings>
        <client>
            <endpoint address="https://www4.webiss.com.br/cacoalro_wsnfse_homolog/NfseServices.svc"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpsBinding_INfseServices"
                contract="WebIssHomologacao.INfseServices" name="BasicHttpsBinding_INfseServices" />
        </client>
    </system.serviceModel>
</configuration>